# Build outputs
obj/
bin/
artifacts/

# Build system
tools/
.vs/

# Test results
test_results/
BenchmarkDotNet.Artifacts/
*.nettrace
*.speedscope.json

# Documentation output
docs/_site
docs/api
docs/_site_pdf

# Test and research data
gamedata/
